{% extends 'HopitalBundle:Default:base.html.twig' %}
{% block corps %}
<h2>Formulaire d'ajout de patient</h2>
<form action="{{path('hopital_ajouterPatient')}}"method="post">
	{{form_widget(form)}}
</form>
{% endblock %}